<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="isNew">New Drink Creator</ion-title>
    <ion-title *ngIf="!isNew">Drink Editor</ion-title>
    <ion-button class="cancel" fill="clear" (click)="closeModal()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="drink">
  <form (ngSubmit)="logForm()">
    <ion-item class="title">
      <ion-label>Drink Title:</ion-label>
      <ion-input type="text" [(ngModel)]="drink.title" name="title"></ion-input>
      <ion-button *ngIf="auth.can('delete:drinks')" (click)="deleteClicked()">
        Delete
      </ion-button>
      <app-drink-graphic [drink]="drink"></app-drink-graphic>
    </ion-item>

    <ion-item class="ingredients item-interactive">
      <ion-label class="name">Ingredient Name</ion-label>
      <ion-label class="parts">Number of Parts</ion-label>
      <ion-label class="color">Color</ion-label>
      <ion-label class="hidden"></ion-label>
    </ion-item>

    <ion-item
      class="ingredients"
      *ngFor="
        let ingredient of drink.recipe;
        let i = index;
        trackBy: customTrackBy
      "
    >
      <ion-input
        class="name"
        [(ngModel)]="drink.recipe[i].name"
        [name]="'Ingredient Title' + i"
        [readonly]="!auth.can('patch:drinks') || !auth.can('post:drinks')"
      >
      </ion-input>
      <ion-input
        [readonly]="!auth.can('patch:drinks') || !auth.can('post:drinks')"
        class="parts"
        type="number"
        style="margin: 0 60px; max-width: 40px;"
        [(ngModel)]="drink.recipe[i].parts"
        [name]="'Ingredient Parts' + i"
        [readonly]="!auth.can('patch:drinks') || !auth.can('post:drinks')"
      >
      </ion-input>
      <ion-input
        class="color"
        type="text"
        [(ngModel)]="drink.recipe[i].color"
        [name]="'Ingredient Color' + i"
        [readonly]="!auth.can('patch:drinks') || !auth.can('post:drinks')"
      >
      </ion-input>
      <ion-button
        *ngIf="auth.can('patch:drinks') || auth.can('post:drinks')"
        (click)="removeIngredient(i)"
        [disabled]="i == 0 && drink.recipe.length == 1"
      >
        Remove
      </ion-button>
      <br />
      <ion-button
        *ngIf="auth.can('patch:drinks') || auth.can('post:drinks')"
        (click)="addIngredient(i)"
        [disabled]="drink.recipe.length == 5"
      >
        Add
      </ion-button>
      <br />
    </ion-item>

    <div class="save">
      <ion-button
        *ngIf="auth.can('patch:drinks') || auth.can('post:drinks')"
        (click)="saveClicked()"
      >
        Save
      </ion-button>
    </div>
  </form>
</ion-content>
