ion-title {
  display: inline-flex;
  max-width: 500px;
  padding: 10px 20px;
}

.cancel {
  float: right;
}

ion-label {
  font-weight: bold;
}

.ingredients {
  text-align: center;
}

.name {
  max-width: 175px;
}

.parts {
  max-width: 160px;
}

.color {
  max-width: 90px;
}

.hidden {
  max-width: 140px;
}

.save {
  margin: 10px;
  text-align: center;
}
