.cup {
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  float: right;
  height: 50px;
  margin: 15px;
  overflow: hidden;
  width: 50px;
}

.ingredient {
  flex-grow: 1;
  width: 50px;
}
